<div>
  <div class="row mt-3">
    <hr>
    <br>
    <div class="col-sm-11 col-xs-8">
      <div (click)="getRecord(note)" class="txt">{{note.text}}</div>
      <div class="col align-self-start">
        <div style="margin-left: -15px !important;">{{note.timeStamp}}</div>
      </div>
      <hr>
    </div>
    <div class="col-sm-1 col-xs-4">
      <span class="fa fa-trash ext" (click)="deleteNote(note)"></span>
    </div>
    <!-- <div class="container">
      <div class="row row-cols-2">
        <ng-container>
          <div class="list">
            <div class="col-12">
              <div (click)="getRecord(note)" class="txt">{{note.text}}</div>
              <div class="col align-self-start">
                <div style="margin-left: -15px !important;">{{note.timeStamp}}</div>
              </div>
              <hr>
            </div>
            <br>
          </div>
          <div class="col justify-content-center">
            <span class="fa fa-trash ext" (click)="deleteNote(note)"></span>
          </div>
        </ng-container>
      </div>
    </div> -->
  </div>
</div>