/* You can add global styles to this file, and also import other style files */
body {
    margin: 5px 15px !important;
    font-family: "Baloo Bhaina 2", cursive !important;
    background: #6495ed08 !important;
}
